{% extends "base.html" %}

{% block content %}
<div id="breadcrumb">
    <a href="/">Anasayfa</a> / Hakkında
</div>
    <hr />

    <span>Svxlink konfigürasyon arayüzü Telsiz ve Radyo Amatörleri Cemiyeti (TRAC) ve Pardus ekibi tarafından geliştirilmiş olup deneysel olmakla beraber afet ve acil durum anlarında iletişimi esnek bir biçimde sağlamak amacı ile ortaya konmuştur.</span>

    Projede emeği geçen başta <br />
    <ul>
        <li><strong>Aziz ŞASA (TA1E)</strong></li>
        <li><strong>Hüseyin ODABAŞ (TA1DF)</strong></li>
        <li><strong>Eren TÜRKAY (TA1AET)</strong></li>
    </ul>
    olmak üzere; tüm Pardus çalışanlarına, gönüllülerine, amatör telsiz camiasına ve amatör telsize gönül vermiş herkese teşekkür ederiz.

{% endblock content %}
