{% extends "base.html" %}

{% block content %}
<div id="breadcrumb">
    Anasayfa /
</div>
<hr />
            <div id="sound_table_container">
                <div id="sound_table_title">Ses Ayarları</div>
                <div id="sound_table_receiver">
                    <div id="sound_table_row"><b>Ses Alınan
                            İstasyonlar</b></div>

                    {% for receiver in receivers %}
                    <div class="sub">
                        {% if receiver.is_online %}
                            <span class="success">{{ receiver.name }}</span>
                        {% else %}
                            <span class="error">{{ receiver.name }}</span>
                        {% endif %}
                    </div>
                    {% endfor %}

                </div>
                <div id="sound_table_transmitter">
                    <div id="sound_table_row"><b>Ses Gönderilen
                            İstasyonlar</b></div>

                    {% for transmitter in transmitters %}
                    <div class="sub">
                        {% if transmitter.is_online %}
                            <span class="success">{{ transmitter.name }}</span>
                        {% else %}
                            <span class="error">{{ transmitter.name }}</span>
                        {% endif %}
                    </div>
                    {% endfor %}

                </div>
            </div>

            <br />
            <small><span class="error">Kırmızı</span> olarak görünen istasyonlar ulaşılamayan istasyonlardır. <span class="success">Yeşil</span> olarak görünenler ise sağlıklı durumlarda olanlardır. Bu liste 1 dakika arayla otomatik olarakyenilenir ve istemcilerin durumu kontrol edilir.</small>

{% endblock %}
