{% extends "base.html" %}

{% block content %}
<div id="breadcrumb">
    Anasayfa /
</div>
<hr />
            <div id="sound_table_container">
                <div id="sound_table_title">Ses Ayarları</div>
                <div id="sound_table_receiver">
                    <div id="sound_table_row"><b>Ses Alınan
                            İstasyonlar</b></div>

                    {% for receiver in receivers %}
                    <div class="sub">
                        {% if receiver.is_online %}
                        <span class="success">
                            <a href="/node/edit/{{ receiver.name }}/">{{ receiver.name }}</a>
                        </span>
                        {% else %}
                        <span class="error">
                            <a href="/node/edit/{{ receiver.name }}/">{{ receiver.name }}</a>
                        </span>
                        {% endif %}
                    </div>
                    {% endfor %}

                </div>
                <div id="sound_table_transmitter">
                    <div id="sound_table_row"><b>Alınan Sesin Gönderildiği İstasyonlar</b></div>

                    {% for transmitter in transmitters %}
                    <div class="sub">
                        {% if transmitter.is_online %}
                        <span class="success">
                            <a href="/node/edit/{{ transmitter.name }}/">{{ transmitter.name }}</a>
                        </span>
                        {% else %}
                        <span class="error">
                            <a href="/node/edit/{{ transmitter.name }}/">{{ transmitter.name }}</a>
                        </span>
                        {% endif %}
                    </div>
                    {% endfor %}

                </div>
            </div>

            <br />
            <small><span class="error">Kırmızı</span> olarak görünen istasyonlar ulaşılamayan istasyonlardır. <span class="success">Yeşil</span> olarak görünenler ise sağlıklı durumlarda olanlardır. Bu liste 1 dakika arayla otomatik olarakyenilenir ve istemcilerin durumu kontrol edilir.</small>

{% endblock %}
