{% extends "base.html" %}

{% block content %}
<div id="breadcrumb">
    Anasayfa /
</div>
<hr />
            <div id="sound_table_container">
                <div id="sound_table_title">Ses Ayarları (<a href="/node/edit/">Düzenle</a>)</div>
                <div id="sound_table_receiver">
                    <div id="sound_table_row"><b>Ses Alınan
                            İstasyonlar</b></div>

                    {% for receiver in receivers %}
                    <div class="sub">
                        {% if receiver.is_online %}
                        <a href="/node/edit/{{ receiver.name }}/"><span class="success">{{ receiver.name }}</span></a>
                        {% else %}
                        <a href="/node/edit/{{ receiver.name }}/"><span class="error">{{ receiver.name }}</span></a>
                        {% endif %}
                    </div>
                    {% endfor %}

                </div>
                <div id="sound_table_transmitter">
                    <div id="sound_table_row"><b>Alınan Sesin Gönderildiği İstasyonlar</b></div>

                    {% for transmitter in transmitters %}
                    <div class="sub">
                        {% if transmitter.is_online %}
                        <a href="/node/edit/{{ receiver.name }}/"><span class="success">{{ transmitter.name }}</span></a>
                        {% else %}
                        <a href="/node/edit/{{ receiver.name }}/"><span class="error">{{ transmitter.name }}</span></a>
                        {% endif %}
                    </div>
                    {% endfor %}

                </div>
            </div>

            <br />
            <small><span class="error">Kırmızı</span> olarak görünen istasyonlar ulaşılamayan istasyonlardır. <span class="success">Yeşil</span> olarak görünenler ise sağlıklı durumlarda olanlardır. Bu liste 1 dakika arayla otomatik olarak yenilenir ve istemcilerin durumu kontrol edilir.</small>

{% endblock %}
